EchoAsyncProcess/bpelContent/GoodMorning.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://training.bpl.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://training.bpl.wso2.org">
    <wsdl:documentation>GoodMorning</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://training.bpl.wso2.org">
            <xs:element name="greeting">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="greetingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="greetingRequest">
        <wsdl:part name="parameters" element="ns:greeting"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="greetingResponse">
        <wsdl:part name="parameters" element="ns:greetingResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GoodMorningPortType">
        <wsdl:operation name="greeting">
            <wsdl:input message="ns:greetingRequest" wsaw:Action="urn:greeting"></wsdl:input>
            <wsdl:output message="ns:greetingResponse" wsaw:Action="urn:greetingResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GoodMorningSoap11Binding" type="ns:GoodMorningPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="greeting">
            <soap:operation soapAction="urn:greeting" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GoodMorningSoap12Binding" type="ns:GoodMorningPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="greeting">
            <soap12:operation soapAction="urn:greeting" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GoodMorningHttpBinding" type="ns:GoodMorningPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="greeting">
            <http:operation location="greeting"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GoodMorning">
        <wsdl:port name="GoodMorningHttpsSoap11Endpoint" binding="ns:GoodMorningSoap11Binding">
            <soap:address location="https://10.110.1.87:9444/services/GoodMorning.GoodMorningHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="GoodMorningHttpSoap11Endpoint" binding="ns:GoodMorningSoap11Binding">
            <soap:address location="http://10.110.1.87:9764/services/GoodMorning.GoodMorningHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="GoodMorningHttpSoap12Endpoint" binding="ns:GoodMorningSoap12Binding">
            <soap12:address location="http://10.110.1.87:9764/services/GoodMorning.GoodMorningHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="GoodMorningHttpsSoap12Endpoint" binding="ns:GoodMorningSoap12Binding">
            <soap12:address location="https://10.110.1.87:9444/services/GoodMorning.GoodMorningHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="GoodMorningHttpEndpoint" binding="ns:GoodMorningHttpBinding">
            <http:address location="http://ec2-50-112-190-253.us-west-2.compute.amazonaws.com:9763/services/GoodMorning.GoodMorningHttpEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="GoodMorningHttpsEndpoint" binding="ns:GoodMorningHttpBinding">
            <http:address location="https://10.110.1.87:9444/services/GoodMorning.GoodMorningHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>