SyncInMemoryProcess8/bpelContent/MathService3.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://bps.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bps.wso2.org">
    <wsdl:documentation>MathService3</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bps.wso2.org">
            <xs:element name="getSquareRoot">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="x" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSquareRootResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAddition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="x" type="xs:int"></xs:element>
                        <xs:element minOccurs="0" name="y" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdditionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getSquareRootRequest">
        <wsdl:part name="parameters" element="ns:getSquareRoot"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSquareRootResponse">
        <wsdl:part name="parameters" element="ns:getSquareRootResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAdditionRequest">
        <wsdl:part name="parameters" element="ns:getAddition"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAdditionResponse">
        <wsdl:part name="parameters" element="ns:getAdditionResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MathService3PortType">
        <wsdl:operation name="getSquareRoot">
            <wsdl:input message="ns:getSquareRootRequest" wsaw:Action="urn:getSquareRoot"></wsdl:input>
            <wsdl:output message="ns:getSquareRootResponse" wsaw:Action="urn:getSquareRootResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddition">
            <wsdl:input message="ns:getAdditionRequest" wsaw:Action="urn:getAddition"></wsdl:input>
            <wsdl:output message="ns:getAdditionResponse" wsaw:Action="urn:getAdditionResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MathService3Soap11Binding" type="ns:MathService3PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getSquareRoot">
            <soap:operation soapAction="urn:getSquareRoot" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddition">
            <soap:operation soapAction="urn:getAddition" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MathService3Soap12Binding" type="ns:MathService3PortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getSquareRoot">
            <soap12:operation soapAction="urn:getSquareRoot" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddition">
            <soap12:operation soapAction="urn:getAddition" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MathService3HttpBinding" type="ns:MathService3PortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getSquareRoot">
            <http:operation location="getSquareRoot"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAddition">
            <http:operation location="getAddition"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MathService3">
        <wsdl:port name="MathService3HttpSoap11Endpoint" binding="ns:MathService3Soap11Binding">
            <soap:address location="http://10.100.5.108:9768/services/MathService3.MathService3HttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="MathService3HttpsSoap11Endpoint" binding="ns:MathService3Soap11Binding">
            <soap:address location="https://10.100.5.108:9448/services/MathService3.MathService3HttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="MathService3HttpSoap12Endpoint" binding="ns:MathService3Soap12Binding">
            <soap12:address location="http://10.100.5.108:9768/services/MathService3.MathService3HttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="MathService3HttpsSoap12Endpoint" binding="ns:MathService3Soap12Binding">
            <soap12:address location="https://10.100.5.108:9448/services/MathService3.MathService3HttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
  
        <wsdl:port name="MathService3HttpEndpoint" binding="ns:MathService3HttpBinding">
            <http:address location="http://localhost:9768/services/MathService3.MathService3HttpEndpoint/"></http:address>
        </wsdl:port>

        <wsdl:port name="MathService3HttpsEndpoint" binding="ns:MathService3HttpBinding">
            <http:address location="https://10.100.5.108:9448/services/MathService3.MathService3HttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>